.root {
    -fx-primary-color: #303F9F;
    -fx-secondary-color: #1976D2;
    -fx-back-color: white;
    -fx-text-color: white;
    -fx-hover-color: #212121;
}

.rootPrijava {
    -fx-background-image: url('file:src/osnovnasredstva/img/background.png');
/*-fx-background-image: url('file:C:/NetBeans%20Projects/OsnovnaSredstva/src/osnovnasredstva/img/background.png');*/
    -fx-background-size: 500 500;
    -fx-background-position: center center;
}

#korisnickoImeTextField {
    -fx-background-color: -fx-back-color;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: -fx-primary-color;
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight: bold;
    -fx-highlight-fill: -fx-primary-color;
}

#korisnickoImeTextField:focused {
    -fx-background-color: -fx-hover-color;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: -fx-text-color;
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight: normal;
}

#lozinkaTextField {
    -fx-background-color: -fx-back-color;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: -fx-primary-color;
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight:bold;
    -fx-highlight-fill: -fx-primary-color;
}

#lozinkaTextField:focused {
    -fx-background-color: -fx-hover-color;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: -fx-text-color;
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight: normal;
}

#prijavaButton {
    -fx-background-color: -fx-secondary-color;
    -fx-text-fill: WHITE;
    -fx-background-radius: 0px;
    -fx-font-size: 12px !important;
    -fx-font-family: verdana !important;
}

#prijavaButton:hover {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: WHITE;
}

#zaboravljenaLozinkaLabel {
    -fx-text-fill: WHITE;
}

#zaboravljenaLozinkaLabel:hover {
    -fx-text-fill: #1976D2;
    -fx-cursor: hand;
}

#greskaBackgroundLabel {
    -fx-prompt-text-fill: WHITE;
    -fx-font-weight: bold;
    -fx-background-color: RED;
    -fx-opacity: 0.6;
    -fx-background-radius: 3px;
	
}

#greskaTextLabel {
    -fx-prompt-text-fill: WHITE;
    -fx-font-weight: bold;
}

#usernameLabel {
    -fx-background-color: -fx-secondary-color;
}

#passwordLabel {
    -fx-background-color: -fx-secondary-color;
}

.naslovLabel {
    -fx-text-fill: -fx-primary-color;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.opisLabel {
    -fx-text-fill: -fx-hover-color;
    -fx-font-weight: bold;
}

.opisTextField {
    -fx-text-fill: -fx-hover-color;
    -fx-prompt-text-fill: -fx-primary-color;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
    -fx-border-radius: 20px;
    -fx-border-color: -fx-primary-color;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-width: 1.5px;
    -fx-cursor: normal;
    -fx-focus-traversable: false;
}

.rootBorder {
    -fx-border-color: linear-gradient(-fx-hover-color 10%, -fx-primary-color 90%);
    -fx-border-width: 2px;
    -fx-background-color: -fx-back-color;
}

.anchorMenu {
    -fx-background-color: linear-gradient(-fx-hover-color 10%, -fx-primary-color 90%);
}

#dataAnchorPane {
    /*linear-gradient( [ [from <point> to <point>] | [ to <side-or-corner>], ]? [ [ repeat | reflect ], ]? <color-stop>[, <color-stop>]+)
     *where <side-or-corner> = [left | right] || [top | bottom]
     * -fx-background-color: linear-gradient(to right bottom, #4b0082, #8b008b 50%, #9c27b0 80%, #9932cc);
     */
    -fx-background-color: -fx-back-color;
}

#menuLine {
    -fx-background-color: -fx-hover-color;
}

/* * * * * * *
 * 
 * Button
 * 
 * * * * * * */
.button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: -fx-hover-color;
    -fx-alignment: center;
}

/* * * * * * *
 * 
 * ToggleButton
 * 
 * * * * * * */
.toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-color;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.toggle-button:hover {
    -fx-background-color: -fx-hover-color;
    -fx-cursor: hand;
    -fx-border-color: -fx-secondary-color;
    -fx-border-width: 0px 4px 0px 0px;
}

.toggle-button:selected {
    -fx-background-color: -fx-secondary-color;
    -fx-border-color: -fx-hover-color;
    -fx-border-width: 0px 4px 0px 0px;
    -fx-cursor: normal;
}

.toggle-button:disabled {
    -fx-background-color: -fx-secondary-color;
    -fx-border-color: -fx-hover-color;
    -fx-border-width: 0px 4px 0px 0px;
    -fx-cursor: normal;
    -fx-opacity: 1;
}

/* * * * * * *
 * 
 * SystemButtons
 * 
 * * * * * * */
.closeButton {
    -fx-background-image: url('img/close.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20,20;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.closeButton:hover {
    -fx-background-color: red;
}

.maximizeButton {
    -fx-background-image: url('img/maximize.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20,20;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.maximizeButton:hover {
    -fx-background-color: -fx-secondary-color;
}

.minimizeButton {
    -fx-background-image: url('img/minimize.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20,20;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.minimizeButton:hover {
    -fx-background-color: -fx-secondary-color;
}

/* * * * * * *
 * 
 * TextField / PasswordField
 * 
 * * * * * * */
.text-field, .password-field, .combo-box {
    -fx-text-fill: -fx-primary-color;
    -fx-prompt-text-fill: -fx-hover-color;
    -fx-highlight-fill: -fx-primary-color;
}

/* * * * * * *
 * 
 * JFXTextField / JFXPasswordField
 * 
 * * * * * * */
.jfx-text-field, .jfx-password-field, .jfx-combo-box{
    -fx-text-fill: -fx-primary-color;
    -jfx-focus-color: -fx-hover-color;
    -jfx-unfocus-color: -fx-primary-color;
    -jfx-label-float: true;
    -jfx-disable-animation: false;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-combo-box:error {
    -jfx-focus-color: red;
    -jfx-unfocus-color: red;
    -fx-highlight-fill: red;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-combo-box .error-label {
    -fx-text-fill: red;
    -fx-font-size: 7pt;
    -fx-pref-height: 20;
    -fx-alignment: top-left;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-combo-box .error-icon {
    /*-fx-fill: red;*/
    -fx-image: url("/osnovnasredstva/img/warning-24.png");
}

/* * * * * * *
 * 
 * JFXAutocompletePopup
 * 
 * * * * * * */
.jfx-autocomplete-popup {
    -fx-fixed-cell-size: 24;
    -jfx-cell-limit: 3;
    -fx-pref-width: 150.0px;
    -fx-text-fill: RED;
    -fx-background-color: -fx-hover-color;
}

/* * * * * * *
 * 
 * ScrollBars
 * 
 * * * * * * */
/* TableView */
.table-view > .virtual-flow > .scroll-bar {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* autocomplete */
.scroll-bar {
    -fx-background-color: -fx-back-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar .track  {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-border-color: -fx-hover-color;
    
    -fx-background-radius: 0.0em;
    -fx-border-radius: 1.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-hover-color;
    -fx-background-insets: 0;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 1.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-primary-color;
    -fx-background-insets: 0;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 1.0em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0.0 0.0 0.5 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0.0 0.5 0.0 0.0;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-shape: " ";    
    -fx-padding: 0.5em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";    
    -fx-padding: 0.0 0.5em;
}

/* * * * * * *
 * 
 * TableView
 * 
 * * * * * * */
.table-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .placeholder .label {
     -fx-text-fill: -fx-primary-color;
     -fx-font-size: 15px;
     -fx-font-weight: bold;
 }

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -fx-hover-color transparent;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-primary-color;
    -fx-alignment: center-left;
}

.table-view .table-cell{
    -fx-text-fill: -fx-hover-color;
    -fx-alignment: center-left;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, transparent;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, transparent;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0;  
}

.table-row-cell:selected {
    -fx-background-color: -fx-secondary-color;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-row-cell:selected .text {
    /*-fx-fill: black;*/
}
/*
.table-cell {
    -fx-padding: 0.166667em;
    -fx-background-color: null;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-cell-size: 2.0em;
    -fx-text-fill: -fx-text-background-color;
}
*/
/*
.table-view .column-resize-line {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-background;
    -fx-padding: 0.0em 0.0416667em 0.0em 0.0416667em;
}
*/
/*
.table-view .filler {
	-fx-background-color: #005797;
}
*/
/*
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: YELLOW;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
*/
/*
.table-view .column-resize-line {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-background;
    -fx-padding: 0.0em 0.0416667em 0.0em 0.0416667em;
}
*/
/* * * * * * *
 * 
 * TableView Buttons
 * 
 * * * * * * */
.buttonTableEdit {
    -fx-background-image: url('img/edit.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20,20;
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.buttonTableEdit:hover {
    /*DRUGA SLIKA */
    -fx-background-image: url('img/edit_hover.png');
    -fx-background-color: -fx-hover-color;
    -fx-cursor: hand;
}

.buttonTableDelete {
    -fx-background-image: url('img/delete.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20,20;
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.buttonTableDelete:hover {
    /*DRUGA SLIKA */
    -fx-background-image: url('img/delete_hover.png');
    -fx-background-color: -fx-hover-color;
    -fx-cursor: hand;
}

.buttonTableShow {
    -fx-background-image: url('img/show.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25,25;
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.buttonTableShow:hover {
    /*DRUGA SLIKA */
    -fx-background-image: url('img/show_hover.png');
    -fx-background-color: -fx-hover-color;
    -fx-cursor: hand;
}

/* * * * * * *
 * 
 * MaskerPane
 * 
 * * * * * * */
.masker-pane {
	
}

.masker-pane .masker-glass {
    -fx-background-color: rgba(0, 0, 0, .5);
    /*-fx-background-color: rgba(92, 191, 235, .3);*/
}

.masker-pane .masker-text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.masker-pane .masker-center {
    -fx-background-color: rgba(0, 0, 0, .7);
    /*-fx-background-color: rgba(92, 191, 235, .6);*/
    -fx-max-height: 1.50in;
    -fx-padding: .25in;
    -fx-background-radius: .1in;
}

/* * * * * * *
 * 
 * JFXRadioButton
 * 
 * * * * * * */
.jfx-radio-button{
    -jfx-selected-color: -fx-primary-color;
    -jfx-unselected-color: -fx-hover-color;
}

.jfx-radio-button .radio-container:hover{
    -fx-cursor: hand;
}

/* * * * * * *
 * 
 * - - - - -
 * 
 * * * * * * */
.naslovLabel {
    -fx-text-fill: -fx-primary-color;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* * * * * * *
 * 
 * SearchBox
 * 
 * * * * * * */
.searchTextField {
    -fx-border-radius: 20px;
    -fx-border-color: -fx-primary-color;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-text-fill: -fx-hover-color;
    -fx-prompt-text-fill: -fx-hover-color;
    -fx-highlight-fill: -fx-primary-color;
    -fx-background-image:url('img/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 5px center;
    -fx-background-size: 15px 15px;
    -fx-padding: 0px 20px 0px 20px;
}
/*
.searchTextFieldJFX {
    -fx-border-radius: 20px;
    -fx-border-color: -fx-primary-color;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-text-fill: -fx-hover-color;
    -fx-prompt-text-fill: -fx-hover-color;
    -fx-highlight-fill: -fx-primary-color;
    -fx-background-image:url('img/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 5px center;
    -fx-background-size: 15px 15px;
    -fx-padding: 0px 20px 0px 20px;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -jfx-label-float: false;
    -jfx-disable-animation: true;
}
*/
/*
.searchTextFieldJFX:focused {
    -fx-font-weight: normal;
    -fx-prompt-text-fill: transparent;
}
*/

.clearImageView {
    -fx-image: url('img/clear.png');
}

.clearImageView:hover {
    -fx-cursor: hand;
}

/* * * * * * *
 * 
 * JFXCheckBox 
 * 
 * * * * * * */
.jfx-check-box {
    /*-jfx-focus-color: #1fdbf8;*/
    -jfx-focus-color: -fx-secondary-color;
    -jfx-unfocus-color: -fx-primary-color;
}

.jfx-check-box {
    /*-jfx-checked-color: #1fdbf8;*/
    -jfx-checked-color: -fx-secondary-color;
    -jfx-unchecked-color: -fx-primary-color;
}

.jfx-check-box .mark {
    -fx-border-color: white;
}

/* * * * * * *
 * 
 * JFXTimePicker
 * 
 * * * * * * */
.jfx-time-picker {
    -jfx-default-color: -fx-primary-color;
}

.jfx-time-picker,
.jfx-time-picker:focused,
.jfx-time-picker:focused:editable {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.jfx-time-picker > .arrow-button,
.jfx-time-picker:editable > .arrow-button,
.jfx-time-picker:focused > .arrow-button,
.jfx-time-picker:editable:focused > .arrow-button{
    -fx-background-color: transparent;
    -fx-padding: 1 8 1 8;
}

.jfx-time-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}

/* * * * * * *
 * 
 * JFXDatePicker
 * 
 * * * * * * */
 .jfx-date-picker {
    -jfx-default-color: -fx-primary-color;
}

.jfx-date-picker,
.jfx-date-picker:focused,
.jfx-date-picker:focused:editable {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-date-picker > .arrow-button,
.jfx-date-picker:editable > .arrow-button,
.jfx-date-picker:focused > .arrow-button,
.jfx-date-picker:editable:focused > .arrow-button {
    -fx-background-color: -fx-back-color;
    -fx-padding: 1 8 1 8;
}

.jfx-date-picker .jfx-button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, -fx-hover-color, 10.0, 0.0, 4.0, 4.0);
}

.jfx-date-picker .jfx-button:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-alignment: center;
}

.jfx-date-picker .jfx-button > .jfx-svg-glyph {
    -fx-background-color: -fx-back-color;
}

.jfx-date-picker > .arrow-button > .jfx-svg-glyph {
    -fx-background-color: -jfx-default-color;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -jfx-default-color;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell {
    -fx-font-size: 16;
    -fx-font-weight: NORMAL;
    -fx-background-color: -fx-back-color;
    -fx-alignment: center;
    -fx-text-fill: #313131;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell > .jfx-rippler {
    -jfx-rippler-fill: grey;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell:hover {
    -fx-background-color: #EDEDED;
}

.date-picker-popup > * > .date-picker-list-view > .virtual-flow > .clipped-container > .sheet > .data-picker-list-cell:selected-year {
    -fx-font-size: 24;
    -fx-font-weight: BOLD;
    -fx-text-fill: -jfx-default-color;
}

/* * * * * * *
 * 
 * Alert 
 * 
 * * * * * * */
/*
.alert {
	-fx-border-color:black;
  	-fx-border-width:2.0px;
}
*/

/**Costumization of The Bar where the buttons are located**/
.alert > .button-bar > .container {
  -fx-background-color: -fx-back-color;
}

.alert > .content.label {
   /*-fx-padding: 0.5em 0.5em 0.5em 0.5em;*/
   -fx-background-color: -fx-back-color;
   -fx-text-fill: -fx-hover-color;
   -fx-font-size: 13.0px;
   -fx-font-weight: bold;
}

/**Costumization of DialogPane Header**/
.alert:header .header-panel {
  -fx-background-color: -fx-back-color;
}

.alert:header .header-panel .label{
    -fx-background-color: -fx-back-color;
    -fx-background-radius:5px;
    -fx-text-fill:-fx-primary-color;
    -fx-font-size:15.0px;
    -fx-font-weight:bold;
    /*-fx-padding: 25px;*/
}

.alert:no-header .graphic-container {
    -fx-background-color: -fx-back-color;
    -fx-padding: 0.833em 0 0 0.833em; /* 10px 0px 0px 10px */
}

/**Costumization of Buttons**/

.alert .button{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-text-color;
    -fx-wrap-text: true;
    /*-fx-effect: dropshadow(three-pass-box, white, 10.0, 0.0, 0.0, 0.0);*/
    -fx-cursor:hand;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
 }

.alert .button:hover{     
    -fx-background-color: -fx-hover-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-weight: bold; 
 }
 
 .alert .button:default {
    -fx-effect: dropshadow(three-pass-box, -fx-hover-color, 10.0, 0.0, 0.0, 0.0);
}

 
 
 
.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: url('file:src/osnovnasredstva/img/alert-confirmation.png');
}

.alert.information.dialog-pane {
    -fx-graphic: url('file:src/osnovnasredstva/img/alert-information.png');
}

.alert.error.dialog-pane {
    -fx-graphic: url('file:src/osnovnasredstva/img/alert-error.png');
}

.alert.warning.dialog-pane {
    -fx-graphic: url('file:src/osnovnasredstva/img/alert-denied.png');
}

.alertDelete.confirmation.dialog-pane {
    -fx-graphic: url('file:src/osnovnasredstva/img/alert-delete.png');
}

.alertBug.error.dialog-pane {
    -fx-graphic: url('file:src/osnovnasredstva/img/alert-bug.png');
}

/* * * * * * *
 * 
 * Notifications
 * 
 * * * * * * */
.notification-bar > .pane {
    /*-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-background-color: -fx-back-color;
    -fx-padding: 7 7 7 7;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 0, 3);*/
    -fx-effect: dropshadow(three-pass-box, -fx-hover-color, 10.0, 0.0, 0.0, 0.0);
    -fx-background-insets: 0, 1, 2;
}

.notification-bar > .pane .label {
    -fx-font-size: 1.166667em; /*15px;*/
    -fx-text-fill: -fx-hover-color;
    -fx-alignment: top-left;
}

.notification-bar > .pane .title {
    -fx-font-size: 1.166667em; /*15px;*/
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight: bold;
}

 .notification-bar > .pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
    /*-fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);*/
    -fx-background-color: red;
}

.notification-bar > .pane .close-button:pressed {
    /*-fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);*/
    -fx-background-color: red;
}

.notification-bar > .pane .close-button > .graphic {
    /*-fx-background-color: #949494;*/
    -fx-background-color: red;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar > .pane .close-button:hover > .graphic {
    /*-fx-background-color: #fefeff;*/
    -fx-background-color: -fx-back-color;
}

.notification-bar > .pane .close-button:pressed > .graphic {
    -fx-background-color: -fx-secondary-color;
    /*-fx-background-color: #5CBFEB;*/
}

.notification-bar > .pane .close-button > .graphic {
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}

/* * * * * * *
 * 
 * 
 * 
 * * * * * * */

#pdfButton {
    -fx-background-image: url('img/pdf.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25,25;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#nazadButton {
    -fx-background-image: url('img/back.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25,25;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#dodajButton {
    -fx-background-image: url('img/dodaj.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25,25;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#dodajOsobuButton {
    -fx-background-image: url('img/add-user.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25,25;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-border: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}